<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="container-fluid ps-5 pe-5">
      <a class="navbar-brand" href="/">あっとほうむ・ペイ
      <%= image_tag "graypig48.png" %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        
      <% if logged_in? %>
      <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">こんにちは<%= current_user.name %>さん</button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li class="dropdown-item"><%= link_to 'あげるorへらす', new_account_activity_path(current_user), class: 'nav-link' %></li>
        <li class="dropdown-item"><%= link_to 'やりとり履歴一覧', history_account_activities_path(current_user), class: 'nav-link' %></li>
        <li class="dropdown-item"><%= link_to 'お手伝い項目一覧', tasks_path(current_user), class: 'nav-link' %></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
      </ul>
      </div>
      <% else %>
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        </ul>
      <% end %>
      </div>
    </div>
  </nav>
</header>